

<nav class="navbar navbar-expand-lg navbar-light ">

 
 <button [routerLink]="['/register']" class="btn btn-light" [hidden]="home">
   Admin Register
  </button>
<button [routerLink]="['/login']" class="btn btn-light" [hidden]="home" >
   Admin Login
  </button>
 
 <button [routerLink]="['/product']" class="btn btn-light"  [hidden]="display">
    Product List
  </button>
<button [routerLink]="['/customer']" class="btn btn-light"[hidden]="display">
    Customer Profile
  </button>
  
<button (click)="logout()"class="btn btn-light">
   Logout
  </button>
<button [routerLink]="['/userlogin']" class="btn btn-light" [hidden]="home">
   UserLogin
  </button>
<button [routerLink]="['/userregister']" class="btn btn-light"[hidden]="home">
   UserRegister
  </button>
<button [routerLink]="['/user']" class="btn btn-light" [hidden]="user">
   UserProfile
  </button>
<button [routerLink]="['/userproduct']" class="btn btn-light" [hidden]="product">
   UserProduct
</button>

  <button [routerLink]="['/cart']" class="btn btn-light"[hidden]="user">
Show Cart
  </button>

  <button [routerLink]="['/order']" class="btn btn-light"[hidden]="user">
Orders Details
      </button>
    
</nav>

<router-outlet></router-outlet>